@import "../../shared-styles/shared-styles.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 86px 30px 30px;

  .charts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .chart {
      display: flex;
      align-items: center;
      padding: 20px;
      box-shadow: 0px 4px 24px $grayShadow;
      border-radius: 6px;
    }
  }

  ::ng-deep .advanced-pie-legend {
    line-height: 32px !important;
  }
}

@media only screen and (max-width: 600px) {
   // FOR MOBILE VERSION SHOULD BE USED OTHER DESIGN TO DISPLAY DATA
   .cities {
    display: none;
  }
}
